[submodule "Submodules/Data-Structures-and-Algorithms-in-C"]
	path = Submodules/Data-Structures-and-Algorithms-in-C
	url = https://github.com/LeechanX/Data-Structures-and-Algorithms-in-C
[submodule "Submodules/Cpp_houjie"]
	path = Submodules/Cpp_houjie
	url = https://github.com/whu-lyh/Cpp_houjie.git
[submodule "Submodules/STLSourceCodeNote"]
	path = Submodules/STLSourceCodeNote
	url = git@github.com:whu-lyh/STLSourceCodeNote.git
[submodule "Submodules/PoseSpline"]
	path = Submodules/PoseSpline
	url = git@github.com:whu-lyh/PoseSpline.git
[submodule "Submodules/ceres_sandbox"]
	path = Submodules/ceres_sandbox
	url = git@github.com:whu-lyh/ceres_sandbox.git
[submodule "Submodules/3D_Ground_Segmentation"]
	path = Submodules/3D_Ground_Segmentation
	url = git@github.com:chrise96/3D_Ground_Segmentation.git
[submodule "Submodules/mba"]
	path = Submodules/mba
	url = git@github.com:whu-lyh/mba.git
[submodule "Submodules/BSC_MLS_PointCloudRegistration-MS"]
	path = Submodules/BSC_MLS_PointCloudRegistration-MS
	url = git@gitee.com:UbiquitousPointCloud/BSC_MLS_PointCloudRegistration-MS.git
[submodule "Submodules/EffectiveModernCppChinese"]
	path = Submodules/EffectiveModernCppChinese
	url = git@github.com:CnTransGroup/EffectiveModernCppChinese.git
